.dot {
  width: .3rem;
  height: .3rem;
  border-radius: .15rem;
  background-color: rgba(255, 255, 255, .8);
  margin: .1rem;
}

.dotbox {
  display: flex;
}

.dots {
  padding: .4rem;
  margin: 1rem 2rem 0;
  float: right;
  border-radius: 1.1rem;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: rgba(108, 108, 108, 0.3);
  }
}